<!DOCTYPE html>
<html ng-app="writer" ng-controller="AppCtrl" ng-cloak>
<head>
    <!-- Basic settings -->
    <title update-title></title>
    <base href="/">

    <!-- Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="fragment" content="!" />

    <!-- Facebook Open Graph -->
    <meta property="fb:app_id" content="1539788846329411" />
    <meta name="og:title" content="{{ meta.title }}" />
    <meta name="og:description" content="{{ meta.description }}" />
    <meta name="og:image" content="{{ meta.image.url }}" />
    <meta name="author" content="{{ meta.author }}" />

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ meta.title }}" />
    <meta name="twitter:description" content="{{ meta.description }}" />
    <meta name="twitter:image" content="{{ meta.image.url }}" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Materialize CSS and fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- inject:css -->
    <link rel="stylesheet" href="dist/lib_styles.css">
    <link rel="stylesheet" href="dist/styles.css">
    <!-- endinject -->

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    </script>
</head>
<body>

    <ul id="admin-dropdown" class="dropdown-content">
        <li><a ui-sref="base.admin.dashboard">Dashboard</a></li>
        <li><a ui-sref="base.admin.posts">Inlägg</a></li>
        <li><a ui-sref="base.admin.users">Användare</a></li>
        <li><a ui-sref="base.admin.categories">Kategorier</a></li>
        <li><a ui-sref="base.admin.comments">Kommentarer</a></li>
        <li><a ui-sref="base.admin.profile">Min profil</a></li>
        <li><a ng-click="logOut()">Logga ut</a></li>
    </ul>

    <ul id="posts-dropdown" class="dropdown-content">
        <li><a ui-sref="base.posts">Alla inlägg</a></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a ui-sref="base.posts" class="brand-logo"><img src="img/icon.png" /></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li ui-sref-active="active"><a class="dropdown-button" href="#!" data-activates="posts-dropdown">Blogg<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li ui-sref-active="active"><a ui-sref="base.route">Vår rutt</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.about">Om oss</a></li>
                    <li ui-sref-active="active" ng-show="!authenticated"><a ui-sref="base.admin">Admin</a></li>
                    <li ui-sref-active="active" ng-show="authenticated"><a class="dropdown-button" href="#!" data-activates="admin-dropdown">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header waves-effect">Blogg</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a ui-sref="base.posts">Alla inlägg</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li ui-sref-active="active"><a ui-sref="base.route">Vår rutt</a></li>
                            <li ui-sref-active="active"><a ui-sref="base.about">Om oss</a></li>
                            <li ng-show="!authenticated"><a ui-sref="base.admin">Admin</a></li>
                            <li ng-show="authenticated" class="bold"><a class="collapsible-header waves-effect">Admin</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a ui-sref="base.admin.dashboard">Dashboard</a></li>
                                        <li><a ui-sref="base.admin.posts">Inlägg</a></li>
                                        <li><a ui-sref="base.admin.users">Användare</a></li>
                                        <li><a ui-sref="base.admin.categories">Kategorier</a></li>
                                        <li><a ui-sref="base.admin.comments">Kommentarer</a></li>
                                        <li><a ui-sref="base.admin.profile">Min profil</a></li>
                                        <li><a ng-click="logOut()">Logga ut</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div ui-view></div>

    <footer class="page-footer" ng-show="showFooter" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Asien 2017</h5>
                    <p class="grey-text text-lighten-4">
                        En reseblogg som kommer användas under ett halvårs backpacking i Sydostasien under 2017.
                        Vi heter Axel Niklasson och Martin Lidén och vi kommer skriva av oss här när vi har tid (och Wi-Fi).
                    </p>
                    <p class="grey-text text-lighten-4">
                        Hemsidan använder sig av WriterCMS, som är ett helt egenutvecklat bloggsystem byggt av Axel. Mer information om WriterCMS
                        hittar man <a class="inverted" href="#">här</a>. En 100% buggfri upplevelse kan tyvärr därför inte garanteras.
                    </p>
                </div>

                <div class="col l6 s12">
                    <countdown></countdown>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Axel Niklasson
                <a class="grey-text text-lighten-4 right" href="http://axelniklasson.se" target="_blank">axelniklasson.se</a>
            </div>
        </div>
    </footer>

    <!-- inject:js -->
    <script src="dist/lib_scripts.js"></script>
    <script src="dist/scripts.js"></script>
    <!-- endinject -->

    <!-- Google Maps JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3B7uSBsDI5qhOlmruZTcgFzyngTaykQY"></script>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
</html>
