<div class="container" id="about">
    <spin when="loading"></spin>

    <div class="row" ng-if="!loading">
        <h4 class="heading" class="center-aligned">Vilka är då vi?</h4>
        <div class="row">
            <div class="col s12 m6 l4" ng-repeat="user in users">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img ng-if="user.profilePic" class="activator" ng-src="{{ user.profilePic }}">
                        <img ng-if="!user.profilePic" class="activator" src="img/ninja.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ user.fullName }}<i class="material-icons right">more_vert</i></span>
                        <p><a class="activator">Läs mer om {{ user.firstName }}</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ user.fullName }}<i class="material-icons right">close</i></span>
                        <div ng-bind-html="user.bio | markdown | trust"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel teal">
                    <span class="white-text center-align">Vi kommer regelbundet att uppdatera bloggen och sidan i sin helhet, så se till att hålla koll!</span>
                </div>
            </div>
        </div>
    </div>
</div>
