<div class="container" id="route">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h4 class="heading">Vart har vi varit hittills?</h4>
            <p class="center-align">Kartan nedan visar alla inlägg som taggats med en plats.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <ng-map default-style="true" id="map" zoom="5" center="{{ startLat }}, {{ startLng }}">
                <marker class="marker" position="[{{ post.location.geometry.location.lat }}, {{  post.location.geometry.location.lng }}]"
                ng-repeat="post in posts" on-click="showPost(event, post)">
                </marker>

                <info-window id="infoWindow">
                    <div ng-non-bindable class="info-window">
                        <img ng-src="{{ selectedPost.author.profilePic }}" />
                        <a ui-sref="base.postdetail({ year: selectedPost.year, month: selectedPost.month, slug: selectedPost.slug })">{{ selectedPost.title }}</a><br>
                        <span>{{ selectedPost.date | prettyDate }}</span>
                    </div>
                </info-window>
            </ng-map>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h4 class="heading">Vad vi har planerat i de olika länderna</h4>
            <p class="center-align">Även om planen delvis är att ta allting som det kommer, så är det alltid bra att
            iallafall ha en aning om några saker man vill hitta på och dessa har vi stolpat upp nedan!</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/hongkong.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Hongkong<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Hongkong</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Hongkong<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/vietnam.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Vietnam<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Vietnam</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Vietnam<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/cambodia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Kambodja<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Kambodja</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Kambodja<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/laos.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Laos<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Laos</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Laos<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/thailand.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Thailand<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Thailand</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Thailand<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/malaysia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Malaysia<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Malaysia</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Malaysia<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/philippines.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Filippinerna<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Filippinerna</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Filippinerna<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/indonesia.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Indonesien<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Indonesien</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Indonesien<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/countries/singapore.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Singapore<i class="material-icons right">more_vert</i></span>
                    <p><a class="activator">Läs mer om Singapore</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Singapore<i class="material-icons right">close</i></span>
                    <p>[information här]</p>
                </div>
            </div>
        </div>
    </div>
</div>
