<div class="countdown">
    <div class="card">
        <div class="card-image">
            <img src="img/countdown.jpg">
        </div>
        <div class="card-content">
            <div class="time-entity">
                <span id="days" class="ticking">{{ days }}</span><br>
                <span>dagar</span>
            </div>

            <div class="time-entity">
                <span id="hours" class="ticking">{{ hours }}</span><br>
                <span>timmar</span>
            </div>

            <div class="time-entity">
                <span id="minutes" class="ticking">{{ minutes }}</span><br>
                <span>minuter</span>
            </div>

            <div class="time-entity">
                <span id="seconds" class="ticking">{{ seconds }}</span><br>
                <span>sekunder</span>
            </div>
        </div>
    </div>
</div>
