<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a ui-sref="base.admin" class="breadcrumb">Admin</a>
            <a ui-sref="base.admin.posts" class="breadcrumb">Inlägg</a>
            <a ui-sref="base.admin.posts.new" class="breadcrumb">Nytt inlägg</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <form name="newPostForm">
            <div class="input-field col s12 m6 l6">
                <input ng-required="true" id="post_title" ng-model="post.title" type="text" class="validate">
                <label for="post_title">Titel</label>
            </div>

            <div class="col s12 m6 l6">
                <label>Kategorier</label>
                <select ng-model="post.categories" ng-required="true" class="browser-default" multiple>
                    <option ng-repeat="category in categories" value="{{ category._id }}">
                        {{ category.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="hide-on-med-and-up">
            <div class="row">
                <div class="col s8">
                    <ul class="tabs">
                        <li class="tab col s4"><a class="active" href="#post_markdown">Markdown</a></li>
                        <li class="tab col s4"><a href="#post_html">Resultat</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" id="post_markdown">
                <div class="input-field col s12">
                    <textarea id="post_content" ng-model="post.content" ng-required="true" class="materialize-textarea validate"></textarea>
                    <label for="post_content">Innehåll</label>
                </div>
            </div>

            <div class="row" id="post_html">
                <div class="post-content col s12" ng-bind-html="post.content | markdown | trust"></div>
            </div>
        </div>

        <div class="row hide-on-small-only">
            <div class="input-field col s6">
                <textarea id="post_content_md_up" ng-model="post.content" ng-required="true" class="materialize-textarea validate"></textarea>
                <label for="post_content_md_up">Innehåll</label>
            </div>

            <div class="post-content col s6" ng-bind-html="post.content | markdown | trust"></div>
        </div>

        <div class="row">
            <div class="col s12">
                <label>Plats</label>
                <select ng-model="post.location" class="browser-default">
                    <option value="">Välj plats</option>
                    <option ng-repeat="place in nearbyPlaces" value="{{ place.place_id }}">
                        {{ place.formatted_address }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a ng-click="fetchPlaces()" class="waves-effect waves-light btn left"><i class="material-icons left">cached</i>{{ placesButtonText }}</a>
            </div>
        </div>

        <div class="row">
            <form action="#">
                <div class="file-field input-field col s12">
                    <div class="btn center-align">
                        <span>Lägg till bilder</span>
                        <input type="file" multiple custom-on-change="renderImages">
                    </div>
                </div>
            </form>
        </div>

        <canvas id="c" style="display:none"></canvas>

        <div class="row">
            <div class="col s12">
                <label>Bilder</label>
            </div>
            <div class="col s12 m6 l4" ng-repeat="image in images track by $index">
                <div class="card">
                    <div class="card-image"><img ng-src="{{ image }}"></div>
                    <div class="card-action"><a ng-click="removePhoto($index)">Ta bort</a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <a ng-class="{ disabled: newPostForm.$invalid }" ng-click="newPostForm.$invalid || submitPost()" class="waves-effect waves-light btn left"><i class="material-icons left">send</i>Posta</a>
            </div>
        </div>

    </form>
</div>

<div id="createPostModal" class="modal bottom-sheet">
    <div class="modal-content">
        <div ng-show="uploadingPost">
            <h4>Laddar upp inlägg</h4>
            <p>Det här kan ta en stund, beroende på internetuppkoppling.</p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <div ng-show="!uploadingPost && !uploadError">
            <h4>Klart!</h4>
            <p>Inägget är nu uppladdat!</p>
        </div>

        <div ng-show="uploadError">
            <h4>Någonting gick fel!</h4>
            <p>Var vänlig försök igen.</p>
        </div>
    </div>
    <div class="modal-footer">
        <a ui-sref="base.admin.posts" ng-show="!uploading" class="modal-action modal-close waves-effect waves-light btn right">Ok</a>
    </div>
</div>
