<div>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a ui-sref="base.admin" class="breadcrumb">Admin</a>
                <a ui-sref="base.admin.dashboard" class="breadcrumb">Dashboard</a>
            </div>
        </div>
    </nav>

    <spin when="loading"></spin>

    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img ng-src="{{ user.profilePic }}" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s8">
                            <span class="black-text">
                                Inloggad som {{ user.fullName }}. Välkommen!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="status">
            <div class="col s6 m3 l3">
                <div class="card clickable" ui-sref="base.admin.posts">
                    <div class="card-content center">
                        <i class="medium material-icons center-aligned">archive</i>
                        <h6>{{ status.posts }} inlägg</h6>
                    </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
                <div class="card clickable" ui-sref="base.admin.categories">
                    <div class="card-content center">
                        <i class="medium material-icons center-aligned">label</i>
                        <h6>{{ status.categories }} kategorier</h6>
                    </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
                <div class="card clickable" ui-sref="base.admin.users">
                    <div class="card-content center">
                        <i class="medium material-icons center-aligned">person</i>
                        <h6>{{ status.users }} användare</h6>
                    </div>
                </div>
            </div>

            <div class="col s6 m3 l3">
                <div class="card clickable" ui-sref="base.admin.comments" notify="{{ status.newComments }}">
                    <div class="card-content center">
                        <i class="medium material-icons center-aligned">comment</i>
                        <h6>{{ status.readComments }} kommentarer</h6>
                    </div>

                    <notification count="status.newComments"></notification>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h4>Google Analytics</h4>
                        <div id="embed-api-auth-container"></div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h4>Sidvisningar</h4>
                        <div id="chart-1-container" class="ga-container"></div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h4>Här finns läsarna</h4>
                        <div id="chart-3-container" class="ga-container"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ngAnalytics -->
        <ng-analytics-auth auth-container="embed-api-auth-container" hide-on-auth="true"></ng-analytics-auth>
        <ng-analytics-chart chart="pageViewsChart" auth-container="embed-api-auth-container"></ng-analytics-chart>
        <ng-analytics-chart chart="citiesChart" auth-container="embed-api-auth-container"></ng-analytics-chart>

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h4>Senaste inlägget</h4>
                        <p>{{ lastPost.author.firstName }} postade det senaste inlägget,
                            <a ui-sref="base.postdetail({ year: lastPost.year, month: lastPost.month, slug: lastPost.slug })">{{ lastPost.title }}</a>, för {{ lastPost.date | timeSince }} sedan.
                            Inlägget kategoriserades som
                            <span ng-repeat="cat in lastPost.categories track by $index">
                                <a ui-sref="base.archive({category: cat._id})">{{ cat.name }}</a><span ng-if="$index < lastPost.categories.length - 2" />,</span><span ng-if="$index == lastPost.categories.length - 2" > och</span><span ng-if="$index == lastPost.categories.length - 1">.</span>
                            </span>
                        </p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="base.postdetail({ year: lastPost.year, month: lastPost.month, slug: lastPost.slug })">Gå till inlägget</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h4>Statistik</h4>
                        <p>Det postas ungefär {{ stats.postsPerDay }} inlägg per dag som i snitt har {{ stats.avgNbrCategories }} kategorier.
                            Den flitigaste bloggaren heter {{ stats.topWriter.name }} och har skrivit {{ stats.topWriter.share * 100 }}% av
                            alla inlägg.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
