<div class="container" id="login">
    <div class="row">
        <h4 class="heading" class="center-aligned">Admin</h4>
        <form name="newPostForm">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3 l4 offset-l4">
                    <input ng-required="true" id="post_title" ng-model="username" type="text" class="validate">
                    <label for="post_title">Användarnamn</label>
                </div>

                <div class="input-field col s12 m6 offset-m3 l4 offset-l4">
                    <input ng-required="true" id="post_title" ng-model="password" type="password" class="validate">
                    <label for="post_title">Lösenord</label>
                </div>

                <div class="col s12 m6 offset-m3 l4 offset-l4">
                    <button class="waves-effect waves-light btn" ng-click="logIn()">Logga in</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div ui-view></div>
