<div ui-view>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a ui-sref="base.admin" class="breadcrumb">Admin</a>
                <a ui-sref="base.admin.settings" class="breadcrumb">Inställningar</a>
            </div>
        </div>
    </nav>
</div>


<spinner></spinner>

<div class="container" ng-show="!loading">
    <div class="row">
        <div class="col s12">
            <h3>Inställningar</h3>
            <p>Här kan du ändra sidans beteende, vad som ska visas och lite annat smått och gott.</p>
            <h5>Allmänt</h5>
        </div>
        <div class="col s6">
            <div class="switch">
                <p>Footer</p>
                <label>
                    Dölj
                    <input type="checkbox" ng-model="settings.showFooter" ng-change="saveSetting('showFooter')">
                    <span class="lever"></span>
                    Visa
                </label>
            </div>
        </div>

        <div class="col s6">
            <div class="switch">
                <p>Countdown</p>
                <label>
                    Dölj
                    <input type="checkbox" ng-model="settings.showCountdown" ng-change="saveSetting('showCountdown')">
                    <span class="lever"></span>
                    Visa
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5>Länder</h5>
            <p>Naturligtvis kan man använda sig av Markdown i beskrivning av länderna.</p>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="hongkong" class="materialize-textarea" ng-blur="saveSetting('hongkongText')" ng-model="settings.hongkongText"></textarea>
            <label ng-class="{ active: settings.hongkongText != '' }" for="hongkong">Hongkong</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="vietnam" class="materialize-textarea" ng-blur="saveSetting('vietnamText')" ng-model="settings.vietnamText"></textarea>
            <label ng-class="{ active: settings.vietnamText != '' }" for="vietnam">Vietnam</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="cambodia" class="materialize-textarea" ng-blur="saveSetting('cambodiaText')" ng-model="settings.cambodiaText"></textarea>
            <label ng-class="{ active: settings.cambodiaText != '' }" for="cambodia">Kambodja</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="laos" class="materialize-textarea" ng-blur="saveSetting('laosText')" ng-model="settings.laosText"></textarea>
            <label ng-class="{ active: settings.laosText != '' }" for="laos">Laos</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="thailand" class="materialize-textarea" ng-blur="saveSetting('thailandText')" ng-model="settings.thailandText"></textarea>
            <label ng-class="{ active: settings.thailandText != '' }" for="thailand">Thailand</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="malaysia" class="materialize-textarea" ng-blur="saveSetting('malaysiaText')" ng-model="settings.malaysiaText"></textarea>
            <label ng-class="{ active: settings.malaysiaText != '' }" for="malaysia">Malaysia</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="philippines" class="materialize-textarea" ng-blur="saveSetting('philippinesText')" ng-model="settings.philippinesText"></textarea>
            <label ng-class="{ active: settings.philippinesText != '' }" for="philippines">Filippinerna</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="indonesia" class="materialize-textarea" ng-blur="saveSetting('indonesiaText')" ng-model="settings.indonesiaText"></textarea>
            <label ng-class="{ active: settings.indonesiaText != '' }" for="indonesia">Indonesien</label>
        </div>

        <div class="input-field col s12 m6">
            <textarea id="singapore" class="materialize-textarea" ng-blur="saveSetting('singaporeText')" ng-model="settings.singaporeText"></textarea>
            <label ng-class="{ active: settings.singaporeText != '' }" for="singapore">Singapore</label>
        </div>
    </div>
</div>
