<div ui-view>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a ui-sref="base.admin" class="breadcrumb">Admin</a>
                <a ui-sref="base.admin.settings" class="breadcrumb">Inställningar</a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <!-- <a ng-click="authenticateGA()" id="authButton" class="waves-effect waves-light btn"><i class="material-icons left">account_box</i>Google Analytics</a> -->
        </div>
    </div>
</div>
