/* Color */
$primary-color: $color2;
$light-red: #DB4141;

/* Size */
$button-height-mobile: 50px;
$button-height-tablet: 70px;
$button-width-mobile: 100%;
$button-width-tablet: 60%;

$input-height-mobile: 50px;
$input-height-tablet: 70px;
$input-width-mobile: 100%;
$input-width-tablet: 60%;

$textarea-height-mobile: 300px;
$textarea-height-tablet: 400px;

/* Fonts */
$font-size-mobile: 17px;
$font-size-tablet: 20px;
