nav {
	padding-left: 5%;
	background: $color1;

	.brand-logo {
		height: 100%;

		img {
			height: 100%;
		}

	}

	ul {
		line-height: 64px;
	}
}

img {
	max-width: 100%;
}

.side-nav {
	z-index: 999;
}

.side-nav .collapsible li, .side-nav.fixed .collapsible li {
	padding: 3px;

	a {
		font-weight: 400;
	}
}

#sidenav-overlay {
	z-index: 995;
}

.fixed-action-btn {
	z-index: 995;
}

.nav-wrapper {
	position: static !important;
}
